altair
argon2-cffi
astor
astroid
async-generator
attrs
backcall
base58
bleach
blinker
boto3
botocore
cachetools
certifi
cffi
chardet
click
colorama
Counter
cycler
decorator
defusedxml
entrypoints
enum-compat
idna
importlib-metadata
ipython-genutils
ipywidgets
isort
jedi
Jinja2
jmespath
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
kiwisolver
lazy-object-proxy
MarkupSafe
matplotlib
mccabe
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
oauthlib
packaging
pandas
pandocfilters
parso
pathtools
patsy
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
pyarrow
pycparser
pydeck
Pygments
pylint
pyparsing
pyrsistent
PySocks
python-dateutil
pywinpty
pyzmq
requests
requests-oauthlib
s3transfer
scikit-learn
scipy
seaborn
Send2Trash
six
sklearn
statsmodels
streamlit
tweepy
textblob
typed-ast
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
widgetsnbextension
wrapt
xgboost
